.app {
  text-align: center;
}

.list {
  float: left;
  list-style: none;
  padding-left: 0;
  width: 50%;
}

.detail {
  background-color: tomato;
  float: right;
  margin-right: 10%;
  margin-top: 30px;
  width: 40%;
}
